 <%if signed_in? && (current_user.user_type == 2||current_user.user_type == 3)%>
       
    <h2 style="margin-left: 10px;">Mis subastas</h2>
    <br/>
    <div class:'container' style="margin-left: 10px;">
   <div class:'container' style="margin-left: 10px;">
    <table class="table table-striped">
    
    <thead>
        <tr>
        <th width="5%" >#</th>
        <th width="20%">Residencia</th>
        <th width="20%">Fecha inicio</th>
        <th width="20%">Fecha fin</th>      
        <th colspan="2"></th>
        </tr>


    </thead>

    <tbody>
       <%if !@auctions.nil?%>
            <% @auctions.each do |a| %>
            <tr>
                <td><%= a.residence_id %></td>
                <td><%= link_to Residence.find(a.residence_id).name , residence_path(Residence.find(a.residence_id)) %></td>
                <td><%= a.startDate.strftime("%d-%m-%Y")%></td>
                <td><%= a.endDate.strftime("%d-%m-%Y")%></td>
                <%if a.started%>
                    <td><%= link_to "Ingresar",auction_path(a), class:"btn btn-primary btn-lg"%></td>
                <%else%>
                    <td>Subasta no iniciada</td>
                <%end%>
                
            
            </tr>
            <%end%>  
        <%end%>
    </tbody>

    </table>

    </div>
    </div>
<%end%>