<%if signed_in?%>
    <p> Subasta para <%=Residence.find(@auction.residence_id).name%>, semana <%=Week.find(@auction.week_id).week_date.strftime("%d-%m-%Y")%></p>

    <%if !@auction.user_id.nil?%>
        <p>Monto acumulado <%=@auction.price%>

        <p>Ganador actual <%=User.find(@auction.user_id).name%>

    <%else%>
        <p>Aun no se ha pujado por esta subasta</p>
    <%end%>

    <div class: 'container' style="margin-left: 15px; margin-right: 15px;">
        <%= form_for @auction, url: {action: "update"} do |a| %>

        <div class="form-group" >
            <%= a.label :bid, "Apuesta (mínimo: $#{@auction.minBid})"  %>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text">$</span>
                </div>
                <%= a.number_field :bid, class: 'form-control', placeholder: 'Ingrese la oferta minima',
                    required: true %>
                <div class="input-group-append">
                <span class="input-group-text">.00</span>
                </div>
            </div>
            </div>

            <%= a.submit 'Pujar', class: 'btn btn-primary' %>
        <%end%>
    </div>

<%end%>