
<h1> Detalle Usuario #<%=@user.id%>
</h1>


<div class="card" style="width: 18rem;" >
	<span class="border border-dark">
  <img class="card-img-top"src = "https://pbs.twimg.com/profile_images/930996540977631237/cAN7Oe4z_400x400.jpg">
  <div class="card-body">
    <h5 class="card-title"><%=@user.name%> <%=@user.last_name%></h5>
    <h6 class='card-subtitle mb-2 text-muted'> Usuario <%=UserType.find(@user.user_type).userType%> </h6>
	
 
	<p class="card-text">e-mail: <%=@user.email%></p>
	<p class="card-text">Genero: <%=@user.genre%> </p>
	<p class="card-text">Edad: <%=@user.age%> </p>
	<p class="card-text">Tarjeta nro: XXXX-XXXX-XXXX-<%=@user.card_number.last(4)%></p>
	<%if @user.user_type == 2%>
		<%=link_to 'Ascender Membresía',edit_vista_path(@user), class: 'btn btn-success', data: {confirm: 'Ascenderá el usuario a categoría Premium. Continuar?'}%>
	<%elsif @user.user_type == 3%>
		<%=link_to 'Degradar Membresía',edit_vista_path(@user), class: 'btn btn-danger', data: {confirm: 'Descenderá el usuario a categoría Estándar. Continuar?'}%>
	<%end %>
      </div>
	</div>
	<p></p>
	</span>
	  <%=link_to 'Volver', vistas_path, class: 'btn btn-secondary'%> 
