<h2 style="margin-left: 10px;"> Listado de usuarios Administradores </h2>

<br/>
<div class:'container' style="margin-left: 10px;">
<table class="table table-striped">
  
  <thead>
    <tr>
      <th width="5%" >#</th>
      <th width="15%">Apellido</th>
      <th width="15%">Nombre</th>
      <th width="15%">Email</th>
      <th colspan="2"></th>
    </tr>


  </thead>

  <tbody>
    <% @users.each do |user| %>
      <%if user.user_type == 1%>
        <tr>
          <td><%= user.id %></td>
          <td><%= link_to user.last_name , vista_path(user) %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <%if current_user.user_type == 4 && user.user_type == 1%>
            <td><%= link_to 'Eliminar Administrador', editadmin_path(:id => user.id), class: 'btn btn-danger btn-sm' %></td>
          <%end%>
        </tr>
      <%end%>  
    <% end %>
  </tbody>
  </table>
  </div>