<div>
<% if signed_in? %>
   <%= image_tag("hs.png",size: "120x80", class:"d-inline-block align-top")%>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
       
       
        <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="<%= Residence.find(@hs.find(1).residence_id).image %>"  alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <h1><%= Residence.find(@hs.find(1).residence_id).name %></h1>
                <p><%= Residence.find(@hs.find(1).residence_id).description%></p>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="<%= Residence.find(@hs.find(2).residence_id).image %>"  alt="Second slide">
              <div class="carousel-caption d-none d-md-block">
                <h1><%= Residence.find(@hs.find(1).residence_id).name %></h1>
                <p><%= Residence.find(@hs.find(1).residence_id).description%></p>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="<%= Residence.find(@hs.find(3).residence_id).image %>" alt="Third slide">
              <div class="carousel-caption d-none d-md-block">
                <h1><%= Residence.find(@hs.find(3).residence_id).name %></h1>
                <p><%= Residence.find(@hs.find(3).residence_id).description%></p>
              </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
    <!--
    <div class="carousel-item">
        <img src="..." alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>...</h5>
        <p>...</p>
      </div>
  </div>
  No funciono jeje, no se que poner en src linea 13 etc. Y
  
  <div class="card" style="width: 18rem;">
      <img class="card-img-top" src=".../100px180/" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title">Titulo de residencia</h5>
          <p class="card-text">Informacion resumida de la residencia</p>
          <a href="#" class="btn btn-success btn-lg">Ver detalle</a>
      </div>
  </div>
  -->
<% else %>
  <%= image_tag("HSH-Complete.svg", class:"d-inline-block align-top")%>
<% end %>
<br/>
<br/>
</div>
