<h3 align="center"> Nueva residencia </h3>

<%= form_for @residence do |f| %>

    <div class="form-group">
        <%= f.label :name, 'Título' %>
        <%= f.text_field :name, class: 'form-control', placeholder: 'Ingrese el título de la residencia',
            required: true %>
    </div>

    <div class="form-group">
        <%= f.label :description, 'Descripción' %>
        <%= f.text_field :description, class: 'form-control', placeholder: 'Ingrese la descripción de la residencia',
            required: true %>
    </div>

    <div class="form-group">
        <%= f.label :location, 'Localización' %>
        <%= f.text_field :location, class: 'form-control', placeholder: 'Ingrese la localización de la residencia',
            required: true %>
    </div>

    <div class="form-group">
     <%= f.label :cost, 'Costo semanal' %>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <%= f.number_field :cost, class: 'form-control', placeholder: 'Ingrese el costo de la residencia',
            required: true %>
        <div class="input-group-append">
          <span class="input-group-text">.00</span>
        </div>
      </div>
      </div>


    <div class="form-group">
      <%= f.label :people_amount, 'Huéspedes' %>
      <select class="form-control" id="Huéspedes">
        <option selected>Seleccionar...</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
      </select>
    </div>

    <%= f.submit 'Guardar residencia', class: 'btn btn-primary' %>
    <%= link_to 'Volver', residences_path, class: 'btn default' %>




<% end %>
