 <div class="container" >
<img class="rounded" style="width: 67.5rem;"" src=<%= @residence.image %>>
     
  	
	<div class="jumbotron">
	<div align= "center">
  <h1 class="display-3" class="font-weight-bold"><%= @residence.name %></h1>
  <p class="lead"><%= @residence.description %></p>
  <hr class="my-4">
  <p></p>
  </div>
  
	
    <p></p>
	<p class="card-text">Dirección: <%=@residence.location%></p>
	<p class="card-text"><%=@residence.country%>, <%=@residence.province%> </p>
	<p class="card-text">$ <%=@residence.cost%> </p>
	<p class="card-text"> <%=@residence.people_amount%> huéspedes</p>
     </div>
     
     

<%=link_to 'Volver', residences_path, class: 'btn btn-secondary'%>
</div> 